Body {
  font-family: sans-serif;

}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
  border: 2px solid #ccc;
}

h1{
  color : red;
}

p, li {
    color: green;
}

li {
  list-style-type: lower-latin;
}

li[title="toto"] {
  color:red;
}

.special, span.special {
  color: orange;
  font-weight: bold;
  list-style-type: upper-latin;
}


span.special {
  color: orange;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

a:link {
  color: pink;
}

a:visited {
  color: grey;
}
